
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #57407c8a;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #3d2963;
    border-radius: 30px;
    border: thin;
    border-width: 100px;
    color: white;
  }
  
  .popup-inner .close-btn{
    position: absolute;
    background-color: #3d2963;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 10px 40px;
  }
  .popup-inner .close-btn:hover{
    color: #ffe;
  }

  .popup-text{
      color: #dcb;
      font-size: 30px;
  }
